body{

  margin: 0px;


}
.principal{

  width:100vw;
  height: 100vh;
  background-color: #00AF87;
  background-repeat:no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.caixa{


    width: 60%;
    height: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );




}

#logo{


background-image: url("../imagens/managment2.png");
background-size: 100px;
background-repeat: no-repeat;
position: relative; 
width:174px; 
height:174px;
right: -20%;
bottom: -35px;


}

p {
  
    position: fixed;
    right: 31%;
    top: 8%;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
   
}

#empresas{

 position: fixed;
    width: 30%;
    height: 10%;
    right: 50%;
    top: 40%;
     border-radius: 12px;
     border:none;
     color: black;
    font-family: 'Open Sans', bold;
    background-color: lightgrey;
    font-size: 20px;

   
}


#empresas:hover{

    background-color: #00AF87;
color: #fff;
font-size: 20px;
width: 35%;
position: fixed;
right: 45%;
 font-family: 'Open Sans', bold;

}

#pendencias{



 position: fixed;
    width: 30%;
    height: 10%;
    right: 20%;
    top: 60%;
    border:none;
    border-radius: 12px;
     color: black;
     background-color: lightgrey;



     font-size: 20px;
    font-family: 'Open Sans', bold;
}


#empresas:hover{

  background-color: #00AF87;
color: #fff;
font-size: 20px;
width: 35%;
position: fixed;
right: 45%;
 font-family: 'Open Sans', bold;




}

#pendencias:hover{



    background-color: #00AF87;
color: #fff;
font-size: 20px;
width: 35%;
position: fixed;
left: 45%;
 font-family: 'Open Sans', bold;

}
   
   #sair{

 position: fixed;
    width: 25%;
    height: 10%;
    right: 54%;
    top: 78%;
     border-radius: 12px;
     border:none;
     color: black;
    font-family: 'Open Sans', bold;
    background-color: lightgrey;
    font-size: 20px;
    text-indent: 44%;
   
}
#sair:hover{

background-color: #00AF87;
color: #fff;
font-size: 20px;
width: 35%;
position: fixed;
right: 45%;
 font-family: 'Open Sans', bold;



}


#entregar:hover{

background-color:#00AF87;
color: #fff;
font-size: 20px;
width: 35%;

}

#visualizar:hover{
background-color: #00AF87;
color: #fff;
font-size: 20px;
width: 35%;
position: fixed;
right: 45%;
}
