body{

  margin: 0px;


}
.principal{

  width:100vw;
  height: 100vh;
  background-color: #00AF87;
  background-repeat:no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.caixa{


    width: 60%;
    height: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );




}

#logo{


background-image: url("../imagens/managment2.png");
background-size: 100px;
background-repeat: no-repeat;
position: relative; 
width:174px; 
height:174px;
right: -10%;
bottom: -35px;


}

p {
  
    position: fixed;
    right: 36%;
    top: 8%;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
   
}

#cadastrar{

position: fixed;
    width: 30%;
    height: 10%;
     left: 20%;
      top: 35%;
    border:none;
    border-radius: 15px;
     color: black;
     background-color: lightgrey;
     font-size: 20px;
    font-family: 'Open Sans', bold;




}


#visualizar{


position: fixed;
    width: 30%;
    height: 10%;
     right: 20%;
      top: 59%;
    border:none;
    border-radius: 15px;
     color: black;
     background-color: lightgrey;
     font-size: 20px;
    font-family: 'Open Sans', bold;
    border-color: #00AF87;
    




}

#voltar{

 position: fixed;
    width: 30%;
    height: 10%;
     left: 20%;
      top: 83%;
    border:none;
    border-radius: 15px;
     color: black;
     background-color: lightgrey;
     font-size: 20px;
    font-family: 'Open Sans', bold;








}

#cadastrar:hover{

 background-color: #00AF87;
color: #fff;
font-size: 20px;
width: 35%;
position: fixed;
right: : 45%;
 font-family: 'Open Sans', bold;


}

#visualizar:hover{

 background-color: #00AF87;
color: #fff;
font-size: 20px;
width: 35%;
position: fixed;
left: 45%;
 font-family: 'Open Sans', bold;



}

#voltar:hover{


 background-color: #00AF87;
color: #fff;
font-size: 20px;
width: 35%;
position: fixed;
right: 45%;
 font-family: 'Open Sans', bold;



}