body{

  margin: 0px;


}
.principal{

  width:100vw;
  height: 100vh;
  background-color: #00AF87;
  background-repeat:no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.caixa{


    width: 40%;
    height: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );




}

#logo{


background-image: url("../imagens/managment2.png");
background-size: 100px;
background-repeat: no-repeat;
position: relative; 
width:174px; 
height:174px;
right: -10%;
bottom: -35px;


}

p {
  
    position: fixed;
    right: 33%;
    top: 8%;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
   
}

#nome{

position: fixed;
top: 30%;
right: 38%;
height: 4%;
text-indent: 32%;

}

#cnpj{


position: fixed;
top: 40%;
right: 38%;
height: 4%;
text-indent: 38%;


}


#email{

position: fixed;
top: 50%;
right: 38%;
height: 4%;
text-indent: 37%;



}
 
#tel{

position: fixed;
top: 60%;
right: 38%;
height: 4%;
text-indent: 36%;

} 

#endereco{

position: fixed;
top: 70%;
right: 38%;
height: 4%;
text-indent: 33%;


}

  
 
input{

  text-indent: 40%;
}


#ok{
   
   position: fixed;
   right: 40%;
   bottom: 10%;
   width: 20%;
   height: 10% ;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  border:none;
  font-size: 20px;
  text-indent: 2%;


}

#ok:hover{

font-family: 'Open Sans', sans-serif;
background-color: #00AF87;
color: white;
font-size: 20px;
height: 12%;



}

