body{

	margin: 0px;
}

p{

   font-family: 'Open Sans', sans-serif;
   position: relative;
   right: -130px;
   bottom: -50px;

}

.principal{


width: 100vw;
height: 100vh;
background-color: #C92228;  
display: flex; 
flex-direction: row;
justify-content:center;
align-items: center; 

}

#caixola{

width:400px; 
height:600px;
border-radius: 8px;
background-color:#fff;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );

}

#pedido{

position: relative;
left: 1.77%;
height: 30px;
bottom: -60px;
text-indent: 30%;


}


#logo{


background-image: url("../imagens/cliente2.png");
background-size: 100px;
background-repeat: no-repeat;
position: relative; 
width:174px; 
height:174px;
right: -150px;
bottom: -35px;


}

#botao{

position: relative;
right: -128px;
height: 30px;
width: 130px;
bottom: -90px;
font-family: 'Open Sans', bold;
border-radius: 5px;
border: 0px;
background-color:#C92228;
color: #fff;
font-weight: bold;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );



}

#esqueci{

  position: relative;
  bottom: -140px;
  left: -20px;
font-family: 'Open Sans', sans-serif;

}


#voltar{

position: relative;
           right: 130px;
            bottom: -180px;
          font-family: 'Open Sans', sans-serif;
          
          color:#3b5998;
