body{

margin: 0px;



}

.principal{

    width: 100vw;
    height: 100vh;
    background-color: #00aced;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

  
}

.caixa{

   width: 60%;
   height: 90%;
   background: #fff;
   border-radius: 4px;
   box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );

}


#logo{


background-image: url("../imagens/icon2.png");
background-size: 100px;
background-repeat: no-repeat;
position: relative; 
width:174px; 
height:174px;
right: -15%;
bottom: -35px;






}


p {
  
    position: fixed;
    right: 31%;
    top: 10%;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
   
}




select{
  
  position: fixed;
  right: 36%;
  width: 20%; 
  height: 5%;
  border-radius: 5px;
   font-family: 'Open Sans', sans-serif;
   font-size: 13px;
    border-color: #00aced
  
}

textarea{

 position: fixed;
  right: 30%;
  width: 35%; 
  height: 30%;
  bottom: 25%;
  border-radius: 5px;
   font-family: 'Open Sans', sans-serif;
   font-size: 13px;
   border-color: #00aced
   


}


#ok{

  position: fixed;
   right: 40%;
   bottom: 10%;
   width: 20%;
   height: 10% ;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  border:none;
  font-size: 20px;


}

#ok:hover{

font-family: 'Open Sans', sans-serif;
background-color: #00aced;
color: white;
font-size: 20px;
height: 12%;



}



 