body {
        margin: 0px
    }

    .fundotela {
        width: 100vw;
        height: 100vh;
        background-color: #00aced;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center

    }
    .caixa {
        width: 400px;
        height: 600px;
        background: #fff;
        border-radius: 8px;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24);
    }



  p{
     
     position: fixed;
     left: 42%;
     bottom: 60%;
     font-size: 20px;
    font-family: 'Open Sans', sans-serif;


  }
   

    #email{

  position: fixed;
        left: 37%;
        height:30px;
       bottom:50%;
      text-indent: 30%;
    }


    #enviar{



       position: fixed;
        left: 42%;
       bottom:36%;
       width:200px ;
       height: 30px;
      border-radius:5px; 
      border:none;
      background-color: #00aced;
      color: #fff;
    font-family: 'Open Sans', bold;




    }



     #logo
 {
background-image: url("../imagens/icon2.png");
background-size: 100px;
background-repeat: no-repeat;
position: relative; 
width:174px; 
height:174px;
right: -150px;
bottom: -35px;

 }




   