

body {
        margin: 0px
    }

    .fundotela {
        width: 100vw;
        height: 100vh;
        background-color:#00aced;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center

    }
    .caixa {
        width: 400px;
        height: 600px;
        background: #fff;
        border-radius: 8px;
          box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );
    }

p{

      position: relative;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      left: 180px;
      bottom: 10px;
    

}

#cpf
 {
      position: relative;
      left: 5%;
     height: 30px;
     bottom: 9px;
    text-indent: 30%;


    }
     


#senha{

 position: relative;
      left: 5%;
     height: 30px;
     bottom: -18px;
 
}
#textsenha{

	position: relative;
	bottom: -21px;
    left:170px ;

}

#botao{

         position: relative;
          right:  -125px;
          bottom: -70px;
          width: 150px; 
          height:30px;
         font-family: 'Open Sans', bold;
         color: white;
         border-radius: 2px;
         border: none;
         background-color:#00aced;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );

}

#esqueci {

            position: relative;
           left: -33px;
            bottom: -130px;
          font-family: 'Open Sans', sans-serif;
          
          color:#3b5998;
 
}


#voltar{

position: relative;
           right: 150px;
            bottom: -180px;
          font-family: 'Open Sans', sans-serif;
          
          color:#3b5998;



}
 
 #logo
 {
background-image: url("../imagens/icon2.png");
background-size: 100px;
background-repeat: no-repeat;
position: relative; 
width:174px; 
height:174px;
right: -150px;
bottom: -35px;

 }


