
*{

	margin: 0px;

}

h1{
 font-family: 'Ubuntu', sans-serif;
  position: fixed;
  right: 45%; 
  top: 13px;
  
  color: white;
}


header {

 position: fixed;
 margin: 0px;
 width:  100%;
 height: 70px;
 background-color: #cb2027 ;
font-family: 'Nunito', sans-serif;



}

.principal{

width: 100vw;
height: 100vh;
background-color: #fff;  
display: flex; 
flex-direction: row;
justify-content:center;
align-items: center; 

}

.caixa{

    position: fixed;
    width: 500px; 
    height:60%;
    bottom: 17%;
    background: red;
    right: 20%; 
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );
}

#botaofuncionario {
     position: relative;
     bottom: 12%;
      left: 26%;
     height: 60px;
     width:250px;
     background-color: #00aced; 
    font-family: 'Nunito', sans-serif;
    color: white;
    border-radius: 2px;
    border: none;
}



#botaocliente{
       
      position: relative; 
      bottom: -200px;
      left: 26%;
      width:250px; 
     height: 60px;
     background-color: #fff; 
    font-family: 'Nunito', sans-serif;
    color: #cb2027;
    border-radius: 2px;
    border: none;
    
}

p{

  font-family: 'Oswald', sans-serif;
  color: white;

  font-size: 20px; 
  position: relative;
  bottom: -5%;
      left: 220px;






}
#vestido{

  position: fixed;
  left: 20%;
  bottom:28%;



}


h2{

 font-family: 'Cedarville Cursive', cursive;
  color: black;
  position: relative;
  bottom: -30px;
  left: 35%;
 


}

footer{


   position: fixed;
    bottom: 15px;
    left: 40%;
  font-size: 18px;
 font-family: 'Open Sans', sans-serif;


}

#adm{

font-family: 'Open Sans', sans-serif;
font-size: 15px;
position: fixed;
bottom: 25%;
color: #fff;
right: 23%;

}

#adm:hover{



}