body{

  margin: 0px;


}
.principal{

  width:100vw;
  height: 100vh;
  background-color: #00AF87;
  background-repeat:no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.caixa{


    width: 60%;
    height: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );




}

#logo{


background-image: url("../imagens/managment2.png");
background-size: 100px;
background-repeat: no-repeat;
position: relative; 
width:174px; 
height:174px;
right: -10%;
bottom: -35px;


}

p {
  
    position: fixed;
    right: 36%;
    top: 8%;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
   
}


table{


    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0, 0,0, 0.24 );
}


td, th {
    border: 1px solid #00AF87;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
   background-color: #dddddd;
}

tr:hover{

 
     background-color: #00AF87;
    color: #fff
}

#ok{
   
   position: fixed;
   right: 40%;
   bottom: 10%;
   width: 20%;
   height: 10% ;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  border:none;
  font-size: 20px;


}

#ok:hover{

font-family: 'Open Sans', sans-serif;
background-color:#00AF87 ;
color: white;
font-size: 20px;
height: 12%;



}


