<head>
	<title> Cliente  </title>
    <link rel="stylesheet" type="text/css" href="../css/admparceiro.css">
    <script type="text/javascript" src="../scripts/adicionarpendencias.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <script src="../scripts/query.js"></script>
  <script type="text/javascript" src="../scripts/mask.js"></script>
  <script type="text/javascript" src="../scripts/adicionarpendencias.js"></script>

    <meta charset="utf-8">
     </head>



     <div class="principal">
		

    <div class="caixa">

    	<div id="logo"> </div>

    	<p> Parceiros.    </p>



    	<a href="cadastrarparceiros.html"> <input type="button" name="visualizar" value="Cadastrar" id="cadastrar"> </a> 

    	<a href="visualizarparceiros.html"> <input type="button" name="visualizar" value="Visualizar" id="visualizar"> </a> 

      <a href="gerenciamento.html"> <input type="button" name="visualizar" value="Voltar" id="voltar"> </a> 
