<head>
	<title> Gerenciamento  </title>
    <link rel="stylesheet" type="text/css" href="../css/gerenciamento.css">
    <script type="text/javascript" src="../scripts/adicionarpendencias.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <script src="../scripts/query.js"></script>
  <script type="text/javascript" src="../scripts/mask.js"></script>
  <script type="text/javascript" src="../scripts/adicionarpendencias.js"></script>

    <meta charset="utf-8">
     </head>



     <div class="principal">
		

    <div class="caixa">

    	<div id="logo"> </div>

    	<p> Áreas que você comanda    </p>



    	<a href="admfuncionario.html"> <input type="button" name="visualizar" value="Colaboradores" id="funcionarios"> </a> 

    	<a href="admcliente.html"> <input type="button" name="visualizar" value="Clientes" id="clientes"> </a> 

    	<a href="admpedido.html"> <input type="button" name="visualizar" value="Pedidos" id="pedidos"> </a> 

    	<a href="admfornecedores.html"> <input type="button" name="visualizar" value="Fornecedores" id="fornecedores"> </a> 

    	<a href="admparceiro.html"> <input type="button" name="visualizar" value="Parceiros" id="parceiros"> </a> 

     <a href="inicial.html"> <input type="button" name="visualizar" value="Voltar" id="Sair"> </a> 


    	
